:root{

--black: #2b0f54;
--darkred: #ab1f65;
--red: #ff4f69;
--white: #fff7f8;
--orange: #ff8142;
--yellow: #ffda45;
--blue: #3368dc;
--teal: #49e7ec;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App > * {
  flex: 1 1 auto;
}

header{
  background-color: var(--teal);
  /* min-height: 100px; */
}

main {
  background-color: black;
  position: relative;
  min-height: 80vh;
  overflow: hidden;
}

footer {
  background-color: black;
  max-height: 10vh;
}


.emoji-wrapper {
  position: absolute;
  bottom: -1rem;
  left: 49vw;
}

.emoji-inner {
  background-color: var(--red);
  height: .95rem;
  width: .95rem;
  border-radius: 50%;
}
.emoji{
  position: absolute;
  left: -.75px;
  top: -2.3px;
}